body {
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #0f0f0f, #001f1f, #002626, #000);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.glow {
    font-size: 60px;
    color: #00ffcc;
    text-shadow: 0 0 20px #00ffcc;
}

.typing {
    margin-top: 10px;
    font-size: 20px;
}

.glow-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.glow-btn:hover {
    background: #00ffcc;
    color: black;
    box-shadow: 0 0 20px #00ffcc;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

section {
    padding: 80px 20px;
    text-align: center;
}

.about {
    background: #111;
}

.projects {
    background: #0d0d0d;
}

.card {
    padding: 20px;
    margin: 40px auto;
    width: 250px;
    background: #111;
    border: 1px solid #00ffcc;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}


.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffcc;
}

/* Custom Cursor */
.cursor {
    width: 15px;
    height: 15px;
    background: #00ffcc;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
}

.trail {
    width: 8px;
    height: 8px;
    background: #00ffcc;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    opacity: 0.4;
    z-index: 999;
}
