body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #0f0f0f, #001f1f, #002626, #000);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glow {
    font-size: 60px;
    color: #00ffcc;
    text-shadow: 0 0 20px #00ffcc;
}

/* SECTIONS */
section {
    padding: 80px 20px;
    text-align: center;
}

.about { background: #111; }
.projects { background: #0d0d0d; }

/* PROJECT CARDS */
.card {
    padding: 20px;
    margin: 40px auto;
    width: 250px;
    background: #111;
    border: 1px solid #00ffcc;
    transition: transform 0.1s ease;
}

/* CURSOR */
.cursor {
    width: 15px;
    height: 15px;
    background: #00ffcc;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
}

.trail {
    width: 8px;
    height: 8px;
    background: #00ffcc;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    opacity: 0.4;
    z-index: 999;
}

/* ===== TERMINAL STYLE ===== */
.terminal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    color: #00ff00;
    font-family: monospace;
    padding: 40px;
    z-index: 2000;
    overflow: hidden;
}

.terminal::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0,255,0,0.05) 0px,
        rgba(0,255,0,0.05) 2px,
        transparent 2px,
        transparent 4px
    );
    animation: scanMove 4s linear infinite;
}

@keyframes scanMove {
    from { transform: translateY(0); }
    to { transform: translateY(100px); }
}

.loading-bar {
    width: 0%;
    height: 5px;
    background: red;
    margin-top: 20px;
    transition: width 0.3s;
}

.glitch {
    color: red;
    animation: glitch 0.2s infinite;
}

@keyframes glitch {
    0% { transform: translateX(1px); }
    25% { transform: translateX(-1px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}
